@font-face {
  font-family: "Lato";
  src: url(/assets/fonts/Lato/Lato-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Black";
  src: local("Lato-Black"), url(/assets/fonts/Lato/Lato-Black.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
