//colors
$white: #ffffff;
$black: #000000;
$light-black: #231e1f;
$dark-grey: #333333;
$light-grey: #808080;
$light: #ededed;
$red: #e74c3c;
$blue: #945aa1;

//fonts
$lt: "Lato";
$ltb: "Lato-Black";

//font-size
$f50: 5rem;
$f40: 4rem;
$f30: 3rem;
$f18: 1.8rem;
$f16: 1.6rem;
$f14: 1.4rem;
$f12: 1.2rem;
$f10: .8rem;